:host ::ng-deep [data-n-id='1'] rect {
  fill: #5de503;
}

#tree svg defs~g~g~g image+image {
  position: absolute;
  top: 0;
  width: 43px;
  height: 43px;
  border-radius: 100px !important;
  left: 0;
  transform: translate(-66px, 15px);
  border-radius: 100px !important;
  clip-path: circle(50% at 50% 50%);
  object-fit: contain !important;
}

.node .male {
  fill: #5de503;
}

.bft-edit-form {
  display: none !important;
}

.bft-light {
  background: #fafafa !important;
}

.ct_custom_btn {
  line-height: 12px;
  width: 18px;
  font-size: 8pt;
  font-family: tahoma;
  padding-right: 30px;
  margin-top: 1px;
  margin-right: 2px;
  position: absolute;
  top: 0;
  right: 0;
}

.john {
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transform: scale(0.75);
  margin: auto;
}

button.ct_custom_btn.ct_custom_undo_btn {
  right: 15px;
  top: 15px;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  border: 0px;
  font-size: 16px;
  background-color: #e6e6e6a8;
  cursor: pointer;
  transition: 0.4s ease all;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px;

}

.ct_custom_undo_btn:hover {
  background-color: #bdb8b8 !important;
}

.ct_custom_undo_btn img {
  width: 18px;
  height: 18px;
  /* filter: invert(1); */
}

.button-gruop {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
}

#tree {
  transition: transform 0.3s ease;
  transform-origin: center;
}