<section class="">
        <div class="ct_privacy_logo">
                    <img src="../../assets/ShareLogoEnglish.png"/>

                </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <h4 class="ct_fs_28 mb-5 d-flex align-items-center"> <a routerLink="/" class="ct_back_icon"><i class="fa-solid fa-angle-left"></i></a>TERMS OF USE</h4>

                <h4 class="ct_fs_20">APP TERMS OF USE</h4>
<p>These Terms of Use (“Terms”) apply to all Subscribers to our App (“the App”). We reserve the right to modify and update these Terms at any time without notice. You should review the Terms periodically. By using our App and signing up for a subscription, you agree to be bound by these Terms, as well as any general terms and conditions posted on our Website from time to time. If you do not intend to be bound by these Terms, then you must stop using the App immediately.</p>

<h4 class="ct_fs_20">DEFINITIONS</h4>
<p>“App” means the Life’s Moments software application for mobile phones and tablet computers.<br>
“App Store” includes Apple App Store, Google Play, and any other platform where the App may be listed.<br>
“Content” means any and all material, links, words, and images, including but not limited to any goods and services the subscriber submits or uploads.<br>
“Force Majeure Event” means events beyond reasonable control, including natural disasters, power or internet outages, strikes, legal changes, and other unforeseeable occurrences.<br>
“Intellectual Property Rights” means all registered and unregistered intellectual property rights worldwide.<br>
“Licensee” means the individual who has obtained a licence to use the App.<br>
“Licensor” means Life’s Moments App Pty Ltd.<br>
“Software” means the App and all associated software, updates, and enhancements.<br>
“Subscriber” means a user who has subscribed to the App.<br>
“Website” means the website of app.lifesmomentsapp.com.<br>
“We”, “our”, or “us” means Life’s Moments App Pty Ltd, Life’s Moments including all directors, employees and contractors.<br>
“You, or “user” means the person or entity that subscribes to our App and by doing so, agrees to these Terms.</p>

    <h4 class="ct_fs_20">AGREEMENT FOR SUBSCRIPTION SERVICES</h4>
<p>To be eligible to subscribe to our Services, you acknowledge and agree to the following:</p>

<ol type="a" style="list-style: lower-alpha;">
  <li>You warrant that you have the full legal capacity and are 18 years or older to agree to these Terms.</li>
  <li>You will not share your password or login details with any other person, and you will keep your contact, payment, and other information up to date.</li>
  <li>You warrant that all information you provide is true, correct, up-to-date and accurate personal information and details.</li>
  <li>You will not transfer, sublicense or grant access to any of our Services to any other person, company, or business except as agreed in these Terms.</li>
</ol>

<p>The App, and any associated website we own, may use third party vendors and hosting partners to provide the necessary software, hardware, service and storage, as well as anything related to running the App.</p>

<p>Unless otherwise specified, the App and associated services are for your personal and own business use. You may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer or sell any information, software, products or services obtained from the App, which are not your own intellectual property.</p>

<p>You are using this App subject to our End User License Agreement (“EULA”) (below) and agree at all times to abide by the terms of the EULA.</p>

<h4 class="ct_fs_20">SUBSCRIPTIONS</h4>
<p>You must register and pay your subscription fee in advance in order to access our App services. Subscriptions automatically renew unless auto-renew is turned off at least 24 hours before the end of the current period. You can turn off auto-renew at any time from your App Store provider. Auto-renew may not occur if you or we cancel the subscription in accordance with the Cancellation or Termination terms below.</p>




<h4 class="ct_fs_20">SUBSCRIPTION CANCELLATION</h4>
<p>You are solely responsible for cancelling your Subscription. You may cancel through the App or directly with your App Store provider. Any other type of cancellation method will not be considered.</p>

<p>If you choose to cancel your Subscription, you can still access the App until the current Subscription’s expiry date.</p>

<p>If you cancel your Subscription during a billing cycle, you must do so at least 24 hours prior to the next payment becoming due so that you will not be charged any subsequent Subscription fee.</p>

<p>If you cancel your Account from within the App, all of your Content, materials and links will be deleted, NOTING THAT you will be given the choice to delete your Account immediately or you can choose to have 7 days to download your media, with the account closing on the 7th day after your original deletion notification. There are no refunds for any unused time between cancelling your Account and the end date of your current Subscription.</p>

<h4 class="ct_fs_20">SUBSCRIPTION TERMINATION</h4>
<p>We have the right to terminate your Subscription for any reason at any time. You agree that we may, in our sole discretion, terminate or suspend your access to the App or the Services with or without notice and for any reason, including, without limitation, a breach of these Terms. Any suspected fraudulent, abusive, or illegal activity may be grounds for terminating your subscription and may be referred to the appropriate law enforcement authorities.</p>

<p>Upon such termination, regardless of the reasons, your right to use our App immediately ceases, and you acknowledge and agree that we may immediately deactivate or delete your account and all related information and files. We may also bar you from accessing our App further. We shall not be liable to you or any third party for any claims or damages arising out of any termination or suspension, or any other actions taken by us in connection with such termination or suspension.</p>

<p>We are not required to provide any refund or part thereof to you for such termination of your Subscription. Any refund may be determined at our sole discretion.</p>

<p>Please Note: We are at no time responsible for any lost data or information as a result of any cancellation of your Subscription to the App.</p>



<h4 class="ct_fs_20">SUBSCRIPTION REFUNDS</h4>
<p>There will be no refunds or credits for fees, partial months of service, upgrade or downgrade refunds, or refunds for months unused with an open account. In order to treat everyone equally, no exceptions will be made.</p>

<h4 class="ct_fs_20">ADVERTISERS</h4>
<p>All Advertisers agree to pay the listing fee in order to advertise your business on our App. By submitting any Content to the App, you represent that you have the ownership rights and title to this information and material and have the right to present and publish it. You also represent that you are not breaching any regulations, restrictions or third party rights. You also agree to ensure that your registration details and Content are accurate and up-to-date.</p>

<h4 class="ct_fs_20">ADVERTISER AGREEMENT</h4>
<p>To be eligible to advertise on our App, you warrant that: the information you post or advertise on the App is genuine, true and accurate; you will keep your information updated; any Content you include on your advertisement, links or website complies with applicable laws, codes and regulations, including all consumer law requirements; all material you link to from our App is accurate, reliable, up-to-date, lawful and not misleading; and you will at all times abide by the Australian Consumer Law (ACL) requirements, including but not limited to the re-supply or refund of any goods or services you supply or provide which fall short of ACL minimum requirements.</p>

<p>You acknowledge and agree that: we are a facilitator only for the purposes of permitting businesses to post their advertisement on our App but do not guarantee any bookings, business, increase in traffic or otherwise; by using our App, you authorise us to use, re-use and to grant others the right to use and re-use your Content and any reproduction or similar in any form of media or technology for any purpose related to the App; and any liability to you will not exceed the amount actually paid by you to us in the preceding six (6) month period.</p>

<p>In addition, you agree to fully indemnify us for any third party breach which may result from your use, misuse or Content you post or link to on the App. We are not responsible for your Content nor for your breach of any third party rights. We are also not responsible for any claim of any third party which may be a result of your links, material or Content on your website, business or otherwise. You agree you will indemnify us and, where possible, take over and manage any claim which may result from your Content, action or inaction or in any other related manner.</p>

<p>No agency, partnership, joint venture or employment is created as a result of these Terms of Use, and you do not have any authority of any kind to bind us in any respect whatsoever.</p>

<p>Unless otherwise specified, the App and associated services are for your personal and own business use. You may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer or sell any information, software, products or services obtained from the App, which are not your own intellectual property.</p>

<h4 class="ct_fs_20">ADVERTISER TERMINATION</h4>
<p>We have the right to terminate your advertisement for any reason, at any time. We may, but are not obligated to, remove any Content that we determine in our sole discretion may be unlawful, offensive, defamatory, obscene, or otherwise objectionable or violates a third party’s intellectual property or these Terms of Use.</p>

<p>If we have reasonable grounds to suspect you have breached our Terms of Use, if your content is offensive, illegal or for any other reason including if, in our opinion, you have breached our Terms of Use, the use of our App or compromised its use for others, we have the right, in our sole discretion, to immediately withdraw your information, remove your Content and terminate your account without notice. We may also deny the use of our App and services to you in the future and are not obligated to return any advertisement monies. We shall not, in any case, be liable to you or any third party for any claims or damages arising out of any termination or suspension or any other actions taken by us in connection with such termination or suspension.</p>



<h4 class="ct_fs_20">ADVERTISER REFUNDS</h4>
<p>There will be no refunds or credits for fees, partial months of service, upgrade/downgrade refunds or refunds for months unused with an open account. In order to treat everyone equally, no exceptions will be made.</p>

<h4 class="ct_fs_20">MODIFICATION OR TERMINATION OF APP</h4>
<p>We reserve the right at any time and from time to time to modify or discontinue the App, either temporarily or permanently, with or without notice. We shall not be liable to you or any third party for any modification, price change, suspension or discontinuance of the App.</p>

<p>From time to time, we may issue updates to the App, which may add, modify, and/or remove features from the App. These updates may be pushed out automatically with little or no notice. If there is a material change to the permissions required to run the App, we will seek your agreement to the permissions and at such time you may choose to accept or not.</p>

<h4 class="ct_fs_20">FAIR GO POLICY</h4>
<p>Our platform is built to help you share meaningful life moments — birthday parties, weddings, family gatherings, and similar events, in a respectful, safe, and fair environment. To ensure a positive experience for all users, this Fair Go Policy outlines the standards expected from all members.</p>

<h4 class="ct_fs_20">Upload Guidelines</h4>
<ul>
  <li>You may upload personal content such as photos and videos of your special ‘life moments’.</li>
  <li>Video uploads should not exceed approximately 5 minutes in length per upload. This helps keep our service fair and accessible to all members.</li>
  <li>Excessive uploading beyond this reasonable limit may result in review, restriction or cancellation of your account.</li>
</ul>

<h4 class="ct_fs_20">Content Standards</h4>
<p>By using our service, you agree not to upload:</p>
<ul>
  <li>Any content that is illegal, offensive, abusive, or immoral.</li>
  <li>Material that infringes on any intellectual property rights, including but not limited to copyright, trademarks, or confidential information.</li>
  <li>Content that breaches privacy, promotes violence, hatred, or discrimination.</li>
  <li>Commercial content or third-party advertising unless explicitly permitted.</li>
</ul>

<h4 class="ct_fs_20">Warnings &amp; Account Termination</h4>
<ul>
  <li>We operate a two-strike warning system. If you breach this policy, you may receive a written warning after which we may cancel your account and delete all content.</li>
  <li>Repeated or serious violations (e.g., illegal or high-risk content) may lead to immediate suspension or permanent termination of your account without further notice.</li>
</ul>

<h4 class="ct_fs_20">Final Note</h4>
<p>This is a community built on trust and fairness. We reserve the right to modify this policy at any time to ensure it continues to protect all users. If you're unsure whether your content complies, get in touch with our support team before uploading.</p>



<h4 class="ct_fs_20">PRIVACY</h4>
<p>We, at all times, abide by Australian Privacy legislation. Please refer to our full Privacy Policy for details of how we collect, store and use your personal information.</p>

<h4 class="ct_fs_20">CONSENT TO DATA USE</h4>
<p>You hereby agree that, subject to our Privacy Policy and Australian Privacy legislation, we may collect, monitor, review, analyse, use, share or sell to third parties’ non-personally identifiable data or information we collect from your use of the App or associated services.</p>

<h4 class="ct_fs_20">PROHIBITED USES</h4>
<p>In addition to other prohibitions, as set forth in the Terms, you are prohibited from using the App or our Services:</p>

<ol type="a">
  <li>for any unlawful purpose; or</li>
  <li>to solicit others to perform or participate in any unlawful acts; or</li>
  <li>to violate any international, federal, or state regulations, rules, laws, or local ordinances; or</li>
  <li>to infringe upon or violate our intellectual property rights or the intellectual property rights of others; or</li>
  <li>to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate based on gender, sexual orientation, religion, ethnicity, race, age, national origin, or disability; or</li>
  <li>to submit false or misleading information; or</li>
  <li>to upload or transmit viruses or any other type of malicious code that will or may be used in any way that will affect the functionality or operation of the App, our Services, or any other websites, or the internet; or</li>
  <li>to collect or track the personal information of others; or</li>
  <li>for any obscene or immoral purpose; or</li>
  <li>to interfere with or circumvent the security features of the App, our Services, or any other websites, or the internet; or</li>
  <li>to spam, phish, pharm, pretext, spider, crawl, or scrape; or</li>
  <li>to attempt to decipher, decompile, disassemble, or reverse-engineer any of the software comprising or in any way making up a part of our business and the App; or</li>
  <li>to post or transmit any file that contains viruses, worms, trojan horses or any other contaminating or destructive features, or that otherwise interferes with the proper working of our business or the App; or</li>
  <li>to solicit business, post advertisements, and use for any commercial or commercial-related purposes.</li>
</ol>

<p>We reserve the right to terminate your use of the App or any related website if you violate any of the prohibited uses.</p>

<p>You also agree you will not transmit any viruses, malware, worms, etc. of any kind and that you will not upload, post, host or transmit unsolicited material or messages.</p>


<h4 class="ct_fs_20">LIMITATION OF LIABILITY</h4>
<p>You acknowledge and agree that your use of the App and any related services or information provided through the App (the ‘Services’) is entirely at your own risk.</p>

<p>To the maximum extent permitted by law, we (including our directors, officers, employees, contractors and agents) are not liable for any loss, damage, cost or expense, whether direct, indirect, incidental, special, consequential or otherwise (including, without limitation, loss of profits, revenue, goodwill, anticipated savings, data or business interruption), arising out of or in connection with:</p>

<ol type="a">
  <li>your access to or use of, or inability to access or use, the App or the Services;</li>
  <li>any reliance placed by you on the content or information provided through the App or the Services;</li>
  <li>any inaccuracies, errors, omissions or delays in the content or Services;</li>
  <li>any failure, interruption or unavailability of the App, the Services or any associated systems;</li>
  <li>any viruses, malware or other harmful code downloaded or accessed through the App; or</li>
  <li>any other use of the App, the Services or related information, even if we have been advised of the possibility of such loss or damage.</li>
</ol>

<p>We make no warranties, express or implied, as to the completeness, accuracy, reliability, suitability or availability of the App or the Services or any information or content provided on or through them for any purpose. All content is provided for general information only and should not be relied upon without independent verification.</p>

<p>Without limiting the above, and to the extent permitted by law, our total liability to you for any claim or series of related claims (however arising) is limited in aggregate to the total amount you paid to us (if any) for the Services in the six (6) month period preceding the event giving rise to the claim.</p>

<p>Our failure to exercise or enforce any right or provision of these Terms will not constitute a waiver of that right or provision.</p>

<h4 class="ct_fs_20">INTELLECTUAL PROPERTY</h4>
<p>All custom graphics, icons, logos, and service names are our registered trademarks, copyrights, trade names, or service marks.</p>

<p>All other trademarks or service marks within the App are the property of their respective owners. You own and retain ownership of all of your Content.</p>

<p>Nothing in these Terms grants you any right to use any trademark, service mark, logo, and/or our name or anything you access through the Website or our App.</p>

<p>You agree and acknowledge that we retain all right, title and interest in the App and Services, including but not limited to the inventions and intellectual property rights contained or embodied within the Website, our App, or the Services.</p>

<p>You are solely responsible for obtaining written permission before reusing any copyrighted material that is available on this Website or our App. Any unauthorised use of the materials appearing on this Website or our App may violate copyright, trademark and other applicable laws and could result in criminal or civil penalties.</p>

<h4 class="ct_fs_20">APP DISCLAIMER</h4>
<p>Use of this App is at your own risk and is not liable for any loss, damage or disclosure of any personal information that may result from its use.</p>

<p>The App accesses the minimum permissions required to enable the App to function and these permissions are detailed when a version of the App is installed. Software bugs will be fixed on a best endeavours basis and can be reported via the App stores or via our website.</p>



<h4 class="ct_fs_20">AUSTRALIAN CONSUMER LAW</h4>
<p>Certain legislation, including the Australian Consumer Law (ACL) in the Consumer and Competition Act 2010 (Cth), and similar consumer protection laws and regulations may confer you with rights, warranties, guarantees and remedies relating to the provision of Services by us to you which cannot be excluded, restricted or modified (Statutory Rights).</p>

<p>Our liability is governed solely by the ACL and these Terms. We exclude all conditions and warranties implied by custom, law or statute except for your Statutory Rights.</p>

<p>Except for your Statutory Rights, all goods and services are provided to you without warranties of any kind, either express or implied, and we expressly disclaim all warranties of any kind, including but not limited to implied warranties of merchantability and fitness for a particular purpose.</p>

<p>Our failure to exercise or enforce any right or provision under these Terms shall not constitute a waiver of such right or provision.</p>

<h4 class="ct_fs_20">DISCLAIMERS AND LIMITED WARRANTY</h4>
<p>The Licensor does not warrant:</p>

<ol type="a">
  <li>that the App, software or services provided through the App will be uninterrupted or error-free. There may be periods where, for technical or operational reasons, the App and services may be inaccessible, or we may have to cancel the service as a result of these technical or operational issues; and</li>
  <li>that the App, software and services will be free from loss, viruses, corruption, hacking, security breaches or other such events that may constitute a Force Majeure Event for which we disclaim any liability for any such issue or event. You are solely responsible for backing up your systems, media, information and software.</li>
</ol>

<p>In the event of any issues with the App, the Licensor, and not the App Store or any of its affiliates, is responsible for addressing all claims relating to any issues including but not limited to: the licence, any intellectual property rights, use of the App, any issues relating to warranties, consumer law and regulation and all other claims. You may notify the App Store of any issues or claims you may have, but you acknowledge that the App Store is at no time responsible for any claim or rectification of any issue.</p>




<h4 class="ct_fs_20">SEVERABILITY</h4>
<p>If any provision of these Terms is held to be unenforceable, then these Terms will be deemed amended to the extent necessary to render the otherwise unenforceable provision and the rest of these Terms valid and enforceable. If a court declines to amend these Terms as provided herein, the invalidity or unenforceability of any provision of these Terms shall not affect the validity or enforceability of the remaining provisions, which shall be enforced as if the offending provision had not been included in these Terms.</p>

<h4 class="ct_fs_20">SURVIVAL OF OBLIGATIONS</h4>
<p>Notwithstanding any other provisions of these Terms, at the termination, expiration or completion of these Terms, any provisions of these Terms which would by their nature be expected to survive termination, expiration or completion shall remain in full force and effect, including but not limited to any provisions which are explicitly stated to survive termination, expiration or completion.</p>

<h4 class="ct_fs_20">GOVERNING LAW</h4>
<p>These Terms are governed by the laws of South Australia, which are in force from time to time, and both you and we agree to submit to the exclusive jurisdiction of the Courts of South Australia for determining any dispute concerning these Terms.</p>

<h4 class="ct_fs_20">END USER LICENCE AGREEMENT (‘EULA’)</h4>
<p>Please read this EULA carefully, as it sets out the terms and conditions (‘Terms’) upon which we license our Software for use. This EULA is between you, as end user Licensee, and the Licensor for the licensing of this App. No other EULA applies in respect of this App. In the event of any conflict with the licensing terms, the terms of this EULA prevail.</p>

<p>Before you use the Software, we ask you to give your express agreement to the terms and conditions of this EULA. If you do not agree to this EULA, you must not use the Software for any purpose whatsoever.</p>

<h4 class="ct_fs_20">1. DEFINITIONS AND INTERPRETATION</h4>
<p>In this EULA:</p>

<ul>
  <li>“App” means Life’s Moments;</li>
  <li>“App store” includes any Apple iTunes, Google Play and all other App stores that may be listing the App product for sale, use, license or making it otherwise available to the public;</li>
  <li>“Effective Date” means the date when the Licensee agrees to the terms and conditions of this EULA;</li>
  <li>“EULA” means this end user licence agreement and any amendments from time to time;</li>
  <li>“Force Majeure Event” means an event or a series of related events, that is outside the reasonable control of the party affected (including failures of or problems with the internet or a part of the internet, power failures, industrial disputes affecting any third party, changes to the law, disasters, explosions, fires, floods, riots, terrorist attacks and wars);</li>
  <li>“Intellectual Property Rights” means all intellectual property rights worldwide, whether registered or unregistered, including any application or right of application for such rights;</li>
  <li>“Licensee” means the licensee of the Software under this EULA;</li>
  <li>“Licensor” means Life’s Moments App Pty Ltd;</li>
  <li>“Software” means the App software, including following the application of any Upgrade; and</li>
  <li>“Upgrade” means an upgrade, update, enhancement, improvement or patch to the Software supplied by the Licensor.</li>
</ul>



<h4 class="ct_fs_20">2. LICENCE</h4>

<p>2.1 You are the Licensee, and you acknowledge and agree that our App is licensed and not sold to you. Your licence to any App store product that you obtain through the App stores or obtain through our website, where applicable, is subject to your prior acceptance of this EULA. You are, on purchase from the App store, entering into a binding agreement directly with the Licensor of the software and not the App store. The App store is at no time a party to the licence between you and the Licensor of the App. The Licensor of each App is solely responsible for that App, including any warranties and claims that you may have relating to that third party App product.</p>

<p>2.2 The Licensee is granted a non-exclusive, personal, non-transferable licence to use the App on a mobile device for your own business and/or your own private and non-commercial purposes and in accordance with the provisions of this clause.</p>

<p>2.3 Subject to the payment by the Licensee of the relevant charges and fees in respect of the Software licence, the provisions of this EULA, the Licensor grants to the Licensee a non-exclusive, non-transferable licence to:</p>

<ol type="a">
  <li>download the Software;</li>
  <li>install the Software on one mobile device provided that only the single authorised licence holder will operate the product. A single licence does not permit the licensee to install the product on a network or a shared drive for use by more than one user; and</li>
  <li>use the Software anywhere in the world.</li>
</ol>

<p>2.4 The Licensee must not:</p>

<ol type="a">
  <li>copy or reproduce the Software or any part of the Software other than in accordance with the licence granted in these Terms;</li>
  <li>sell, resell, rent, lease, loan, supply, distribute, redistribute, publish or republish the Software or any part of the Software;</li>
  <li>modify, alter, adapt, translate or edit, or create derivative works of the Software or any part of the Software;</li>
  <li>reverse engineer, decompile, disassemble the Software or any part of the Software; or</li>
  <li>circumvent or remove or attempt to circumvent or remove the technological measures applied to the Software for the purposes of preventing unauthorised use;</li>
</ol>

<p>provided that nothing in this clause will prohibit or restrict the Licensee or any other person from doing any act expressly permitted by applicable law.</p>

<p>2.5 All Intellectual Property Rights in the Software are and will remain, as between the parties, the property of the Licensor. In the event of any dispute of Intellectual Property Rights, the Licensor retains and has full rights solely for any investigation, defence, settlement and discharge of any such claim by any third party.</p>

<p>2.6 The Licensee must not permit any other person to use the Software or to exercise any of the other rights granted by the Licensor to the Licensee in this EULA.</p>

<h4 class="ct_fs_20">3. SUPPORT</h4>

<p>3.1 The Licensor is solely responsible for providing support and maintenance for the App subject to the following:</p>

<ol type="a">
  <li>The Licensee must promptly apply any Software Upgrade released by the Licensor and made available by the Licensor to the Licensee from time to time;</li>
  <li>The Licensor will have no obligation to provide support for the Software under this clause or repair or replace the Software in relation to any version of the Software that does not incorporate the most recent upgrade to the Software where the problem arises from Software not supplied by and or any unauthorised use or modification of the Software;</li>
  <li>The Licensor will provide to the Licensee email support during the period of the licence for the purpose of resolving issues with the Software raised by the Licensee acting reasonably. At no time does the Licensor warrant that the Software will be virus-free, and the Licensor agrees it is solely the Licensor’s responsibility to conduct appropriate virus scanning prior to the installation and use of any Software.</li>
</ol>

<p>3.2 The Licensee acknowledges that:</p>

<ol type="a">
  <li>the Licensor’s sole obligation under the clause is to make reasonable endeavours to resolve issues raised by the Licensee;</li>
  <li>the Licensor does not warrant or represent that issues raised will be solved by means of the support services;</li>
  <li>the Licensor will not provide any on-site support under this EULA; and</li>
  <li>the Licensor, and not the App store, is solely responsible for all maintenance and support of the App.</li>
</ol>

<p>3.3 The Licensor may subcontract any of its obligations under this clause to any third party.</p>
<h4 class="ct_fs_20">2. LICENCE</h4>

<p>2.1 You are the Licensee, and you acknowledge and agree that our App is licensed and not sold to you. Your licence to any App store product that you obtain through the App stores or obtain through our website, where applicable, is subject to your prior acceptance of this EULA. You are, on purchase from the App store, entering into a binding agreement directly with the Licensor of the software and not the App store. The App store is at no time a party to the licence between you and the Licensor of the App. The Licensor of each App is solely responsible for that App, including any warranties and claims that you may have relating to that third party App product.</p>

<p>2.2 The Licensee is granted a non-exclusive, personal, non-transferable licence to use the App on a mobile device for your own business and/or your own private and non-commercial purposes and in accordance with the provisions of this clause.</p>

<p>2.3 Subject to the payment by the Licensee of the relevant charges and fees in respect of the Software licence, the provisions of this EULA, the Licensor grants to the Licensee a non-exclusive, non-transferable licence to:</p>

<ol type="a">
  <li>download the Software;</li>
  <li>install the Software on one mobile device provided that only the single authorised licence holder will operate the product. A single licence does not permit the licensee to install the product on a network or a shared drive for use by more than one user; and</li>
  <li>use the Software anywhere in the world.</li>
</ol>

<p>2.4 The Licensee must not:</p>

<ol type="a" style="list-style: lower-alpha;">
  <li>copy or reproduce the Software or any part of the Software other than in accordance with the licence granted in these Terms;</li>
  <li>sell, resell, rent, lease, loan, supply, distribute, redistribute, publish or republish the Software or any part of the Software;</li>
  <li>modify, alter, adapt, translate or edit, or create derivative works of the Software or any part of the Software;</li>
  <li>reverse engineer, decompile, disassemble the Software or any part of the Software; or</li>
  <li>circumvent or remove or attempt to circumvent or remove the technological measures applied to the Software for the purposes of preventing unauthorised use;</li>
</ol>

<p>provided that nothing in this clause will prohibit or restrict the Licensee or any other person from doing any act expressly permitted by applicable law.</p>

<p>2.5 All Intellectual Property Rights in the Software are and will remain, as between the parties, the property of the Licensor. In the event of any dispute of Intellectual Property Rights, the Licensor retains and has full rights solely for any investigation, defence, settlement and discharge of any such claim by any third party.</p>

<p>2.6 The Licensee must not permit any other person to use the Software or to exercise any of the other rights granted by the Licensor to the Licensee in this EULA.</p>

<h4 class="ct_fs_20">3. SUPPORT</h4>

<p>3.1 The Licensor is solely responsible for providing support and maintenance for the App subject to the following:</p>

<ol type="a" style="list-style: lower-alpha;">
  <li>The Licensee must promptly apply any Software Upgrade released by the Licensor and made available by the Licensor to the Licensee from time to time;</li>
  <li>The Licensor will have no obligation to provide support for the Software under this clause or repair or replace the Software in relation to any version of the Software that does not incorporate the most recent upgrade to the Software where the problem arises from Software not supplied by and or any unauthorised use or modification of the Software;</li>
  <li>The Licensor will provide to the Licensee email support during the period of the licence for the purpose of resolving issues with the Software raised by the Licensee acting reasonably. At no time does the Licensor warrant that the Software will be virus-free, and the Licensor agrees it is solely the Licensor’s responsibility to conduct appropriate virus scanning prior to the installation and use of any Software.</li>
</ol>

<p>3.2 The Licensee acknowledges that:</p>

<ol type="a" style="list-style: lower-alpha;">
  <li>the Licensor’s sole obligation under the clause is to make reasonable endeavours to resolve issues raised by the Licensee;</li>
  <li>the Licensor does not warrant or represent that issues raised will be solved by means of the support services;</li>
  <li>the Licensor will not provide any on-site support under this EULA; and</li>
  <li>the Licensor, and not the App store, is solely responsible for all maintenance and support of the App.</li>
</ol>

<p>3.3 The Licensor may subcontract any of its obligations under this clause to any third party.</p>




<h4 class="ct_fs_20">4. LIMITATION OF LIABILITY, DISCLAIMERS AND LIMITED WARRANTY</h4>

<p>4.1 Limitation of liability: To the full extent permitted by law and subject to any implied condition, warranty or right, or any statutory consumer guarantee contained in any law (including the Competition and Consumer Act 2010 (Cth)) which cannot be excluded by law:</p>

<ol type="a">
  <li>the Licensor excludes all representations, warranties or terms (whether express or implied) other than those expressly set out in this EULA;</li>
  <li>the Licensor excludes all liability in respect of loss or corruption of data, interruption of business or any consequential or incidental damages;</li>
  <li>all implied conditions, warranties, rights and terms are excluded;</li>
  <li>the Licensor is not liable for use of the Software in connection with hazardous activities, or any activity for which failure of the Software might result in death, bodily injury or psychiatric injury to the End User, its employees, independent contractors, agents, customers or any member of the public; and</li>
  <li>the Licensor will in no circumstances be liable for any type of special, indirect or consequential loss, for any loss of profit, revenue, or anticipated saving, loss or corruption of data, interruption of business, loss of use, loss of contracts with third parties, loss of business or loss of goodwill, even if such loss was reasonably foreseeable or the Licensor had been advised of the possibility of the same arising.</li>
</ol>

<p>4.2 The Licensor does not warrant:</p>

<ol type="a">
  <li>that the App, Software or services provided through the App will be uninterrupted or error-free. There may be periods when, for technical or operational reasons, the App and services may be inaccessible or we may have to cancel the service as a result of these technical or operational issues. Non-material errors in the Software will not constitute a breach of this EULA; and</li>
  <li>that the App, Software and services will be free from loss, viruses, corruption, hacking, security breaches or other such events that may constitute a Force Majeure Event for which we disclaim any liability for any such issue or event. You are solely responsible for backing up your systems, information and software.</li>
</ol>

<p>4.3 All of the parties’ liabilities and obligations in respect of the subject matter of this EULA are expressly set out herein. To the maximum extent permitted by applicable law, no other terms concerning the subject matter of this EULA will be implied into this EULA or any related contract.</p>

<p>4.4 The limitations and exclusions of liability set out in this Clause:</p>

<ol type="a">
  <li>are subject to the above Clause 4.1; and</li>
  <li>govern all liabilities arising under the EULA or in relation to the subject matter of the EULA, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty.</li>
</ol>

<p>4.5 The Licensor will not be liable to the Licensee in respect of any business or personal losses, such as loss of or damage to profits, income, revenue, use, production, anticipated savings, business, contracts, commercial opportunities, goodwill, Force Majeure Event, death or personal injury.</p>

<p>4.6 The Licensor will at no time be liable to the Licensee in respect of any special, indirect, or consequential loss or damage, including but not limited to any loss or corruption of any data, database or software. In any case, the Licensor’s aggregate liability to the Licensee will not exceed the purchase price of the App.</p>

<p>4.7 In the event of any issues with the App, the Licensor, and not the App store or any of its affiliates, is responsible for addressing all claims relating to any issues including but not limited to: the licence, any intellectual property rights, use of the App, any issues relating to warranties, consumer law and regulation and all other claims. You may notify the App store of any issues or claims you may have but you acknowledge that the App store is at no time responsible for any claim or rectification of any issue.</p>

<h4 class="ct_fs_20">5. INDEMNIFICATION</h4>

<p>5.1 You agree to indemnify and hold us, each of our affiliates, successors, directors, employees, agents, representatives, suppliers and service providers harmless from and against any and all losses, expenses, damages, costs and expenses (including all reasonable legal fees), resulting from your use of the App and/or any violation of these Terms. You agree to assume and take over control of any dem





    <h4 class="ct_fs_20">6. TERMINATION</h4>
<p>6.1 The licence granted under this EULA is effective until terminated either by you or the Licensor. Your rights under this licence will terminate automatically without notice from the Licensor if you fail to comply with any terms of this licence. Upon termination of the licence, you will cease all use of the App and destroy all copies of the App.</p>

<h4 class="ct_fs_20">7. PRODUCT CLAIMS</h4>
<p>7.1 The Licensee acknowledges that the Licensor is solely responsible for addressing any claims by the Licensee or any third party relating to the App or the Licensee’s possession and/or use of the App, including but not limited to:</p>

<ol type="a">
  <li>product liability claims;</li>
  <li>any claim that the App fails to conform to any applicable legal or regulatory requirement; and</li>
  <li>claims arising under consumer protection, privacy or similar legislation, including in connection with the App use.</li>
</ol>

<p>The Licensee agrees the App store is not responsible for investigating, defending, settling or discharging any such claims.</p>

<h4 class="ct_fs_20">8. GENERAL</h4>

<p>8.1 No breach of any provision of this EULA will be waived except with the express written consent of the party not in breach.</p>

<p>8.2 If a clause of this EULA is determined by any court or other competent authority to be unlawful and/or unenforceable, the other clauses of this EULA will continue in effect. If any unlawful and/or unenforceable clause would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the clause will continue in effect (unless that would contradict the clear intention of the parties, in which case the entirety of the relevant clause will be deemed to be deleted).</p>

<p>8.3 The Licensor may freely assign this EULA and/or its rights and/or obligations under this EULA without the Licensee’s consent. Except as expressly provided in this EULA, the Licensee must not assign, transfer, charge, license, or otherwise dispose of or deal in this EULA and/or any of its rights and/or obligations under this EULA.</p>

<p>8.4 Where the App is listed on a third party app store, the app store is a third party beneficiary of this EULA and has the right to enforce this EULA against the Licensee.</p>

<p>8.5 Where the App uses or requires any third party service in order to run or provide the App services, the Licensee agrees to comply with all relevant third party agreements and terms.</p>

<p>8.6 This EULA constitutes the entire agreement and understanding of the parties in relation to the subject matter of this EULA, and supersedes all previous agreements, arrangements and understandings between the parties relating to the subject matter of this EULA. Subject to Clause 4, each party acknowledges that no representations or promises not expressly contained in this EULA have been made by or on behalf of the other party.</p>

<p>8.7 You represent and warrant that you are not (i) located in a country that is subject to a US Government embargo, or that has been designated by the US Government as a “terrorist supporting” country; and (ii) listed on any US Government list of prohibited or restricted parties.</p>

<p>8.8 EU resident’s right of withdrawal on software sales: European law principally provides a right of withdrawal in respect of software sales that can be excluded for digitally provided content. Therefore, if the End User is domiciled in a country of the European Union (EU), the EU statutory right of withdrawal ends 14 days after the purchase of the Software or the moment the End User starts downloading the Software for the first time (whichever is sooner).</p>

<p>8.9 This EULA will be governed by and construed in accordance with the laws of the State or Territory of South Australia, Australia; and the courts of the State or Territory of South Australia, Australia, will have exclusive jurisdiction to adjudicate any dispute arising under or in connection with this EULA.</p>

<p>8.10 In the event of any questions, complaints, issues, claims or queries, you can contact us at <a href="mailto:enquiries@lifesmomentsapp.com">enquiries@lifesmomentsapp.com</a>.</p>



            </div>

        </div>

    </div>
</section>