<section class="ct_mobile_w_375">
      <div class="position-relative">
            <img src="assets/girl.png" alt="" class="ct_img_h_300">
            <div class="ct_logo_overlay">
                  <img src="assets/logo_3.png" alt="">
            </div>
      </div>
      <p>Many people have their photos & videos scattered across multiple platforms. With secure cloud storage, Life’s
            Moments App lets you capture and keep your cherished memories with you, all in one place… wherever you are.
      </p>

      <div class="ct_mt_88 ct_px_20">
            <button class="ct_black_btn"><img src="assets/app_icon.png" alt="">Open in the App Store</button>
            <button class="ct_blue_btn ct_mt_20"><img src="assets/google_icon.png" alt="">Open in Google Play</button>
      </div>
</section>