<section>
     <div class="ct_privacy_logo">
                    <img src="../../assets/ShareLogoEnglish.png"/>

                </div>
                 <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="ct_fs_28 mb-5 d-flex align-items-center"> <a routerLink="/" class="ct_back_icon"><i class="fa-solid fa-angle-left"></i></a>Founder’s Statement</h4>
                <p>
                    Life's Moments is presented to you as an all-inclusive App to help you avoid making the same mistakes I made.
                </p>
                <p>
                    My love of recording my family and their special events was passed down to me
by my late Father, who could always be found behind a camera, recording our
precious Life's Moments for us to cherish. As my children
were growing up I also
took photos and videos, before they were even born of their Mummy's tummy
and then photos and videos of them as newborns including their first bath at the
Hospital. This extended through to their Birthday parties, first day of
Kinder
garten, sporting events, award nights and much, much, more.
                </p>
                <p>
                    Naturally, I then backed up my photos from my phone and camera to my laptop
and thought I'd done the right thing. Years later and several laptops later, I
found I couldn't even switch on those ol
a machines and I feared I had lost all
those recordings forever. I'm told they may be accessible by a computer
specialist but they're still sitting in the old machines to this day. I also had
pictures and videos of my children on camera memory cards, which
unfortunately have been misplaced somewhere along the way. And then there's
the many photos in Facebook, where the quality gets dropped to assist with
storage. It seems I wasn't very good at getting my digital life in order.
                </p>
                <p>
                    So the concept behind Life's
Moments was to create a place where I could store
all of these moments safely and have them always accessible in the palm of my
hand.
And in the process of doing this, I have created an App where you can capture,
store and organize YOUR Life's Moments and
have immediate access to them
along the journey and then hopefully pass them down to future generations to
come.
                </p>
                <p>
                   I hope you enjoy Life's Moments too and we welcome any feedback along the way
to help us improve our service to you.
                </p>

                <div>
                    <p class="mb-2"><strong>Yours sincerely,</strong></p>
                    <p class="mb-1">Andrew Flynn</p>
                    <P>Founder</P>
                </div>
                </div>
                </div>
                </div>
</section>