/* You can add global styles to this file, and also import other style files */

@import 'ngx-toastr/toastr';

g.link.male {
    stroke-dasharray: 7 !important;
}

g.link.female {
    stroke-dasharray: 7 !important;
}

g.link.male {
    stroke-dasharray: 7 !important;
}

g.link.female {
    stroke-dasharray: 7 !important;
}

.bft-fill {
    stroke: #3ed319;
}

g.link.male[data-l-id] path {
    stroke: #b2dcb1;
    stroke-width: 3px
}

g.link.female[data-l-id] path {
    stroke: #b2dcb1;
    stroke-width: 3px
}

g.link.Male {
    stroke-dasharray: 7px;
}

div.boc-light .boc-input>input {
    border-color: red !important;
}

svg path {
    stroke: #3ed319;
    width: 200px;
}

.bft-input {
    display: none;
}

g.node>text {
    font-size: 16px !important;
    filter: brightness(0.5);
    transform: translateY(5px) !important;
}

.node use+use+text+text {
    transform: translateY(5px) !important;
    font-size: 12px !important;
}

/* .john {
    width: auto;
max-width: 200px;

    margin: auto;
} */
div#tree {
    width: 100%;
    height: 100vh !important;
}

.toast-top-right.toast-container {
    display: none !important;
}

/* CSS for Balkan Tree Node Styling */
.node {
    /* Set the circle width and height */
    width: 10px;
    /* Adjust as needed */
    height: 10px;
    /* Adjust as needed */

    display: flex;
    align-items: center;
    justify-content: center;
    /* Add padding inside the circle if needed */
    padding: 50px;
    /* Adjust as needed */
}

/* .john {
    width: 250px;
    margin: auto;
    transform: translateY(-200px);
} */

/* .john {
    width: 450px;
    margin: auto;
    transform: matrix(0.9, 0, 0, 0.9, 0, 0) translate(-28px, 0px) scale(1);
    margin: auto;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
 
    margin: auto;
} */
text {
    font-size: 21px !important;
    transform: translateY(10px);
    background-color: #fff !important;
}

g.link.female[data-l-id] path use {
    stroke: #b2dcb1;
    stroke-width: 3px
}

/* g.link.male[data-l-id]  use{
    stroke: #b2dcb1;
} */
.john {
    width: 100%;
    margin: auto;
    transform: matrix(0.9, 0, 0, 0.9, 0, 0) translate(-121px, 0px) scale(1);
    margin: auto;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    transform: scale(0.9);
    margin: auto;
}

.bft-edit-form {
    display: none !important;
}

body {
    margin: 0px !important;
}


/* *{
    overflow: auto !important;
  } */

.OrgChart.match.boundary {
    width: 200px;
}

#tree svg defs~g image+image {
    position: absolute;
    top: 0;
    width: 43px;
    height: 43px;
    border-radius: 100px !important;
    left: 0;
    transform: translate(-154px, 15px) !important;
    border-radius: 100px !important;
    clip-path: circle(50% at 50% 50%);
    object-fit: contain !important;
}

div#tree svg defs~g text~image {
    transform: scale(1.065) translate(-4px, -4px);
}

g.node.selected>text {
    font-weight: normal !important;
    font-size: 18px !important;
}

g.node.blurred {
    opacity: 0.5 !important;
}

g.node.blurred.right-partner {
    opacity: 0.2 !important;
}

g.node.selected {
    opacity: 1 !important;
    position: relative;
    filter: contrast(1.7);
}